.studentItem {
  background-color: rgb(255 255 255 / 68%);
  height: 8em;
}

.studentItem img {
  width: 96px;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .studentItem {
    font-size: 12px;
  }
  .studentItem img {
    width: 48px;
    border-radius: 50%;
  }
}