.notfound {
  background-image: url('../../images/404notfound.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40em;
  color:#4060B0;
}
.notfound span {
  font-size: 5em;
  font-weight: bold;
}